:root {
  --gap: 15px;
  --primary-color: #fdfefd;
  --accent-color: #282829;
  --Third-color: #1c58b9;
  --fourth-color: #3aaa57;
  --font: sans-serif;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  min-width: 300px;
  min-height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap);
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  padding: var(--gap);
  background-color: var(--accent-color);
}

header h2 {
  margin: 0;
}

header h2 span {
  white-space: nowrap;
}

main {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-role {
  float: left;
  margin-bottom: 1rem;
}

#PlayerX {
  color: var(--Third-color);
  font-size: x-large;
}

#PlayerO {
  color: var(--fourth-color);
  font-size: x-large;
}

.wrapper {
  display: inline-block;
  position: relative;
  width: clamp(250px, 90%, 400px);
}

#dummy {
  margin-top: 100%;
  /* 1:1 aspect ratio */
}

.game-board {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: var(--accent-color);
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: var(--gap);
}

.spot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  font-size: 3rem;
  font-weight: bold;
  color: var(--Third-color);
  cursor: pointer;
}

.spot:hover {
  filter: brightness(1.3);
}

.reset-btn {
  background-color: darkred;
  color: var(--primary-color);
  font-weight: bold;
  font-size: .9rem;
  margin-top: 1rem;
  padding: calc(var(--gap) / 2) var(--gap);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reset-btn:hover {
  filter: brightness(1.2);
  transition: .3s;
}

/* footer styles */

.love-emoji {
  color: red;
}

.footer-text {
  font-size: .95rem;
}

.red1dev-link {
  color: var(--primary-color);
  font-weight: bold;
}

/* changeable classes */

.player-1 {
  color: var(--Third-color);
}

.player-2 {
  color: var(--fourth-color);
}
